/*.grid-container div {
    display: grid;
    background-color: #ebb7b7;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px ;
    border: 1px solid black;
}*/

/*.grid-container{
    display:grid;
    /*background-color: chocolate;*/
    /*grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    /* para colocar la cantidad tanto de filas como de columnas en cada seccion de grid template se relacionan una o muchas medidas dependiendo de la cantidad de filas o columnas que se deseen*/
    /*justify-content: center;
    border: 1px solid black;
   }*/

/*/.day div {
    display: grid;
    background-color: #5d4308;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px ;
    border: 1px solid black;
}*/

/*.grid-container {
    display: grid;
    background-color: #e2dada;
    grid-template-columns: auto auto auto  auto auto auto auto;
}
/*.grid-container div{
    background-color: rgb(184, 176, 176);
    text-align: center;
    color: azure;
    border: 1px solid black;
}*/

h1{
 text-align: center;
 color: darkgreen;
 font-size:x-large;
 font-family: Georgia;

}

.day-name{
    border: 1px solid black; 
    color: rgb(255, 255, 255);
    background-color: darkgreen;
    text-align: center;
}

li{
text-align: center;

}

ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style:none;
    padding: 0;
    zoom: 500px;
    /*border: 1px solid black;*/
  }
.div-completo{
    background-size: 80%;
    background-color: cadetblue;
}

  .first-day {
    grid-column-start: 1;
   
  }

  li{
    border: 1px solid black;
  }